body#intro {
  background: url('../img/intro-bg.jpg');
  background-position: bottom;
  background-size: cover;
}

#hello {
  height: 100vh;
}

#hello > div {
  background: url('../img/hello-bg.jpg') center;
  color: #fff;
  padding: 2em;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(22, 22, 22, .8);
}

#hello > div h1,
#hello > div p {
  text-shadow: 0 1px 4px #333333;
}

#hello > div h1 {
  font-size: 2em;
}

#facebook-login {
  background-color: rgb(41,83,173);
}

#google-login {
  background-color: #ef6666;
}

#hello-login {
  position: absolute;
  top: 1em;
  right: 1em;
}

#hello-logo {

  font-size: 4em;
  width: 64px;
  height: 64px;
}

body#login-page {
  background-color: #ddd
}

#login-container {
  height: 100vh;
}

#login-container > div {
    background-color: #fff;
    padding: 2em;
}

#login-container h1 {
  font-size: 2em;
}


#grid {
  column-width: 200px;
	column-gap: 1em;
}

.grid-item {
  position: relative;
  background-color: #fff;
  display: inline-block;
  column-break-inside: avoid;
  margin: 1em;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 3px 5px 0 rgba(22,22,22,.2)
}

.save,
.heart {
  position: absolute;
  top: .5em;
  display: none;
}

.save {
  left: .5em;
}

.heart {
  right: .5em;
}

.grid-item:hover .save,
.grid-item:hover .heart {
  display: block
}

.grid-content {
  padding: .5em;
}

.grid-content h1 {
  font-size: 1rem;
}

.grid-content a {
  color: #333;
}

.grid-content .media-object a:first-child {
  font-weight: bold;
}

#stream-page {
  background-color: #eee;
}
